<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                 <link rel="stylesheet" th:href="@{/css/app.css}">

    </head>
       <body class="center-form">
   <form class="glass-form"
         onsubmit="return saveForm(this)"
      th:action="@{/save}"
      th:object="${newEquipment}"
      method="post">

    <input type="hidden" th:field="*{id}" />

    <label>Nombre:</label>
    <input type="text" th:field="*{name}"/>

    <label>Tipo de equipo:</label>
    <input type="text" th:field="*{type}"/>

    <label>Estado:</label>
    <input type="text" th:field="*{state}"/>

    <label>Fecha de compra:</label>
    <input type="date" th:field="*{purchaseDate}" />

    <label>Costo:</label>
    <input type="number" th:field="*{cost}"/>

    <label>Disponible:</label>
    <select th:field="*{available}">
        <option value="true">Sí</option>
        <option value="false">No</option>
    </select>

    <label>Sucursal:</label>
    <select th:field="*{branch.id}">
        <option value="0" disabled selected>Seleccione una sucursal</option>
        <option th:each="bra : ${branches}"
                th:value="${bra.id}"
                th:text="${bra.name}">
        </option>
    </select>

   <div class="button-group">
        
        <button type="submit"
            th:text="${newEquipment.id != 0} ? 'Actualizar' : 'Guardar'">
        </button>

 
      <button type="button"
        onclick="returnTable()">
    Cancelar
      </button>
    </div>

</form>
       
    </body>
</html>
