<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
         <link rel="stylesheet" th:href="@{/css/app.css}">

    </head>
    <body>
       
<div  class="landing-buttons centered">
    <h1 class="page-title">El equipamento de campeones</h1>
      

        <button onclick="loadForm()" class="add-btn">
                + Añadir Equipamento
            </button>
    
    </div>


<div id="tableContainer"></div>

<div id="formContainer" style="display:none;"></div>

<script th:src="@{/js/equipment.js}"></script>

    </body>
</html>
