<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
       
<div class="hero-gym">
    <div class="hero-content">
        <h2>¡AÑADE MÁS PODER!</h2>
        <p>Registra nuevo equipamiento</p>

        <a href="#" onclick="loadForm(); return false;" class="add-btn">
            + Añadir Equipamiento
        </a>
    </div>
</div>


<div id="tableContainer"></div>

<div id="formContainer" style="display:none;"></div>

<script th:src="@{/js/equipment.js}"></script>

    </body>
</html>
