<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listado de Clases</title>
    <link rel="stylesheet" th:href="@{/css/app.css}">
</head>

<body class="page-portal">

<div th:replace="~{admin/fragments/admin_layout :: adminHeader('classes')}"></div>

<section class="hero-section portal-head admin-page-hero">

    <h1>Listado de Clases</h1>

    <p>
        Administración de clases disponibles en el gimnasio.
    </p>

    <div class="hero-buttons centered">
        <a class="btn-primary"
           th:href="@{/trainer/classes/form}">
            Agregar Clase
        </a>
    </div>

</section>

<main class="container portal-card admin-page-card">

    <table>
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Entrenador</th>
                <th>Fecha</th>
                <th>Inicio</th>
                <th>Final</th>
                <th>Duración</th>
                <th>Capacidad</th>
                <th>Inscritos</th>
                <th>Dificultad</th>
                <th>Descripción</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody id="classesTableBody"></tbody>
    </table>

    <div class="pagination">
        <button id="pageInfo" disabled>Página 1 de 1</button>
        <button id="prevBtn" onclick="previousPage()">Anterior</button>
        <button id="nextBtn" onclick="nextPage()">Siguiente</button>
    </div>

</main>

<div th:replace="~{admin/fragments/admin_layout :: adminFooter}"></div>

<script th:src="@{/js/trainer/classes/list.js}"></script>

</body>
</html>
