<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalle de Usuario - SAM GYM FITNESS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/app.css}">
</head>
<body class="page-portal">

<div th:replace="~{admin/fragments/admin_layout :: adminHeader('users')}"></div>


<main class="container portal-card admin-page-card">
    <section class="detail-info">
        <div class="info-card">

            <p>
                <strong>Nombre:</strong>
                <span th:text="${userView.fullName}"></span>
            </p>

            <p th:if="${userView.role == 'trainer'}">
                <strong>Sucursal:</strong>
                <span th:text="${userView.branch != null ? userView.branch.name : 'Sin sucursal asignada'}"></span>
            </p>

            <p>
                <strong>Cédula:</strong>
                <span th:text="${userView.idCard}"></span>
            </p>

            <p>
                <strong>Correo:</strong>
                <span th:text="${userView.email}"></span>
            </p>

            <p>
                <strong>Teléfono:</strong>
                <span th:text="${userView.phone}"></span>
            </p>

            <p>
                <strong>Nombre de usuario:</strong>
                <span th:text="${userView.username}"></span>
            </p>

            <p>
                <strong>Rol:</strong>

                <span th:if="${userView.role == 'administrator'}"
                      class="badge badge-active">
                    Administrador
                </span>

                <span th:if="${userView.role == 'trainer'}"
                      class="badge badge-pending">
                    Entrenador
                </span>

                <span th:if="${userView.role == 'client'}"
                      class="badge badge-inactive">
                    Cliente
                </span>
            </p>

            <p>
                <strong>Estado:</strong>

                <span th:if="${userView.status == 'active'}"
                      class="status-active">
                    Activo
                </span>

                <span th:if="${userView.status == 'inactive'}"
                      class="status-inactive">
                    Inactivo
                </span>
            </p>

            <p>
                <strong>Fecha de registro:</strong>
                <span th:text="${userView.formattedRecordDate}"></span>
            </p>

        </div>
    </section>

    <div class="buttons">
        <a th:href="@{/users}" class="btn-secondary">Volver</a>

        <a th:href="@{/users/edit(id=${userView.userId})}"
           class="btn-primary">
            Editar
        </a>
    </div>
</main>

<div th:replace="~{admin/fragments/admin_layout :: adminFooter}"></div>

</body>

</html>
