<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    </head>
    <body>
        <h1>📅 Schedule Management</h1>

        <div style="margin: 20px 0;">
            <button onclick="loadFormSchedule()" class="add-btn">
                + Add New Schedule
            </button>
        </div>


        <div id="tableContainer"></div>

        <div id="formContainer" style="display:none;"></div>
        
        <script th:src="@{/js/appShedule.js}"></script>
    </body>
</html>
